<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.mapper.ReceiptsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Receipts" >
    <id column="resid" property="resid" jdbcType="INTEGER" />
    <result column="resname" property="resname" jdbcType="VARCHAR" />
    <result column="ressfq" property="ressfq" jdbcType="INTEGER" />
    <result column="resfsfq" property="resfsfq" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    resid, resname, ressfq, resfsfq
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ReceiptsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from receipts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from receipts
    where resid = #{resid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from receipts
    where resid = #{resid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ReceiptsExample" >
    delete from receipts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Receipts" >
    insert into receipts (resid, resname, ressfq, 
      resfsfq)
    values (#{resid,jdbcType=INTEGER}, #{resname,jdbcType=VARCHAR}, #{ressfq,jdbcType=INTEGER}, 
      #{resfsfq,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Receipts" >
    insert into receipts
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resid != null" >
        resid,
      </if>
      <if test="resname != null" >
        resname,
      </if>
      <if test="ressfq != null" >
        ressfq,
      </if>
      <if test="resfsfq != null" >
        resfsfq,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resid != null" >
        #{resid,jdbcType=INTEGER},
      </if>
      <if test="resname != null" >
        #{resname,jdbcType=VARCHAR},
      </if>
      <if test="ressfq != null" >
        #{ressfq,jdbcType=INTEGER},
      </if>
      <if test="resfsfq != null" >
        #{resfsfq,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ReceiptsExample" resultType="java.lang.Integer" >
    select count(*) from receipts
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update receipts
    <set >
      <if test="record.resid != null" >
        resid = #{record.resid,jdbcType=INTEGER},
      </if>
      <if test="record.resname != null" >
        resname = #{record.resname,jdbcType=VARCHAR},
      </if>
      <if test="record.ressfq != null" >
        ressfq = #{record.ressfq,jdbcType=INTEGER},
      </if>
      <if test="record.resfsfq != null" >
        resfsfq = #{record.resfsfq,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update receipts
    set resid = #{record.resid,jdbcType=INTEGER},
      resname = #{record.resname,jdbcType=VARCHAR},
      ressfq = #{record.ressfq,jdbcType=INTEGER},
      resfsfq = #{record.resfsfq,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Receipts" >
    update receipts
    <set >
      <if test="resname != null" >
        resname = #{resname,jdbcType=VARCHAR},
      </if>
      <if test="ressfq != null" >
        ressfq = #{ressfq,jdbcType=INTEGER},
      </if>
      <if test="resfsfq != null" >
        resfsfq = #{resfsfq,jdbcType=INTEGER},
      </if>
    </set>
    where resid = #{resid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Receipts" >
    update receipts
    set resname = #{resname,jdbcType=VARCHAR},
      ressfq = #{ressfq,jdbcType=INTEGER},
      resfsfq = #{resfsfq,jdbcType=INTEGER}
    where resid = #{resid,jdbcType=INTEGER}
  </update>
</mapper>